.game-card {
  text-align: center;
  border-radius: 10px;
  background-color: #172031;
  color: #FFCE56;
  cursor: pointer;
  max-width: 350px;
  width: auto;

  .game-img {
    margin-bottom: 10px;
    img {
      border-radius: 10px 10px 0px 0px;
      max-height: 250;
      width: 100%;
    }
  }

  .game-name {
    h1 {
      margin: 0px;
    }
  }

  .game-rate {
    .rate-star {
      margin: 0px 2px;
      color: #616A79;
    }

    margin-bottom: 5px;
  }

  .game-description {
    color: #F3EFE3;
  }
}

.game-card-list {
  .game-card {
    margin-bottom: 20px;
  }
}
